// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 16px;
$v-font-weight: 300;
$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin bugrap {
  @include valo;

  // Insert your own theme rules here
  
  select {
  	min-width: 200px;
  }
  
  .main-layout {
  	padding: 2% 3%;
  }
  
  .no-horizontal-padding {
  	padding-left: 0px !important;
  	padding-right: 0px !important;
  }
  
  .bottom-aligned {
  	vertical-align: bottom;
  }
  
  .v-slot-bottom-aligned {
  	@extend .bottom-aligned;
  }
  
  .bar-part-first {
  	background-color: darkgrey;
  	display: inline-block;
  }
  
  .bar-part-second {
  	background-color: grey;
  	display: inline-block;
  }
  
  .bar-part-third {
  	background-color: lightgrey;
  	display: inline-block;
  }

  .button-aligned-label {
  	position: relative;
	text-align: center;
	white-space: nowrap;
	outline: none;
	height: 37px;
	line-height: 37px;
  }
}
